# paste your values
RESOURCE_GROUP=""
LOCATION=""
STORAGE_ACCOUNT=""
CONTAINER_NAME=""
TAGS=""
TEST_FILE="testfile.txt"
DOWNLOAD_PATH="./download/"
TENANT_ID=""
STORAGE_CONTRIBUTOR_USERNAME=""
STORAGE_CONTRIBUTOR_PASSWORD=""
STORAGE_READER_USERNAME=""
STORAGE_READER_PASSWORD=""